<section class="design">
  <div class="design__title">
    <div class="design__title--container">
      <i class="far fa-object-ungroup design-icon"></i>
      <h2 class="container--text">Diseña</h2>
    </div>
    <i class="fa fa-chevron-up design__title--arrow"></i>
  </div>
  <form class="design__form" action="" method="post">
    <p class="design__form--label uppercase">Colores</p>

    <input class="design__form--palette" type="radio" id="palette" name="palette" />
    <label for="palette" class="design__form--label">
      <div class="design__form--colors">
        <div class="design__form--palette1__color1"></div>
        <div class="design__form--palette1__color2"></div>
        <div class="design__form--palette1__color3"></div>
      </div>
    </label>


</section>