<main class="main">
  <img class="main__logo" src="./assets/images/logo-awesome-profile-cards.svg" alt="Logo de la página"
    title="Logo de la página" />
  <h1 class="main__title">Crea tu tarjeta de visita</h1>
  <p class="main__text">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>

  <div class="main__todo">
    <!--son links finalmente?-->
    <a class="links" href="">Diseña</a>
    <a class="links" href="">Rellena</a>
    <a class="links" href="">Comparte</a>
  </div>

  <a class="uppercase links main__button" href="./aplication-page.html">Comenzar</a>
</main>