<section class="preview">
  <div class="preview-button-div">
    <button class="preview__button">
      <i class="far fa-trash-alt preview__button--trash"></i>
      <p class="preview__button--text">Reset</p>
    </button>
  </div>
  <div class="preview__card">
    <div class="preview__card--text">
      <h3 class="text-name js-text-name">Nombre Apellido</h3>
      <h4 class="text-work js-text-work">Front-end developer</h4>
    </div>
    <div
      class="profile__image preview__card--img js__profile-image"
      style="
        background-image: url(https://via.placeholder.com/300x300/cccccc/666666/?text=IMAGE);
      "
    ></div>
    <nav>
      <ul class="preview__card--nav">
        <li>
          <a href="" class="icons js-icons">
            <i class="fas fa-mobile-alt js-socialNetworks"></i>
          </a>
        </li>
        <li>
          <a href="" class="icons js-icons">
            <i class="far fa-envelope js-socialNetworks"></i>
          </a>
        </li>
        <li>
          <a href="" class="icons js-icons">
            <i class="fab fa-linkedin-in js-socialNetworks"></i>
          </a>
        </li>
        <li>
          <a href="" class="icons js-icons">
            <i class="fab fa-github-alt js-socialNetworks"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
