.design {
  margin: 27px 20px 30px 20px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 22px 0;

    &--arrow {
      color: $reset-color;
      font-size: 18px;
      padding: 5px; //zona clickable
      z-index: 1;
      &:hover {
        background-color: $faded-orange;
        transition: 0.5s ease;
      }
    }

    &--container {
      display: flex;
      align-items: center;

      &--text {
        font-family: $font-generalTexts;
        font-size: 18px;
        font-weight: 600;
        color: $reset-color;
        text-transform: uppercase;
      }
    }
  }
  &-icon {
    font-size: 18px;
    color: $dull-orange;
    margin-right: 8px;
  }
  &__form {
    display: flex;
    justify-content: space-between;

    &--label {
      font-family: $font-generalTexts;
      color: $dark-text;
      font-size: 14px;
      line-height: 20px;
    }
  }
  @media all and (min-width: 768px) {
    margin: 0 20px 30px 20px;
  }
}

//----------
.uppercase {
  text-transform: uppercase;
}

.design__container__options {
  width: 7.5rem;
  display: inline-block;
  text-align: end;

  &__cold,
  &__warm,
  &__medium {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .palette-cold,
  .palette-warm,
  .palette-medium {
    display: flex;
  }

  .palette-cold span,
  .palette-warm span,
  .palette-medium span {
    display: inline-block;
    width: 30px;
    height: 25px;
    margin: 0;
  }

  .warm {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
//PALETTE COLD
.palette-cold .a {
  background-color: $dark-text;
}

.preview__card--text {
  h3 {
    &.js-paletteColdA {
      color: $dark-text;
    }
  }
}

.preview__card--nav {
  li a i {
    &.js-paletteColdA {
      color: $dark-text;
    }
  }
}

.palette-cold .b {
  background-color: $dirty-blue;
}

.preview__card--text {
  h4 {
    &.js-paletteColdB {
      color: $dirty-blue;
    }
  }
}
.preview__card {
  .preview__card--text.js-cold {
    &.js-paletteColdB {
      border-left: 5px solid $dirty-blue;
    }
  }
}

.palette-cold .c {
  background-color: $border-links-color;
}

.preview__card--nav {
  li a {
    &.js-paletteColdC {
      border: 2px solid $border-links-color;
    }
  }
}

//PALETTE WARM
.palette-warm .a {
  background-color: $dried-blood;
}

.preview__card--text {
  h3 {
    &.js-paletteWarmA {
      color: $dried-blood;
    }
  }
}

.preview__card--nav {
  li a i {
    &.js-paletteWarmA {
      color: $dried-blood;
    }
  }
}

.palette-warm .b {
  background-color: $rusty-red;
}

.preview__card--text {
  h4 {
    &.js-paletteWarmB {
      color: $rusty-red;
    }
  }
}
.preview__card {
  .preview__card--text.js-warm {
    &.js-paletteWarmB {
      border-left: 5px solid $rusty-red;
    }
  }
}

.palette-warm .c {
  background-color: $tomato;
}

.preview__card--nav {
  li a {
    &.js-paletteWarmC {
      border: 2px solid $tomato;
    }
  }
}

//PALETTE MEDIUM
.palette-medium .a {
  background-color: $slate;
}

.preview__card--text {
  h3 {
    &.js-paletteMediumA {
      color: $slate;
    }
  }
}

.preview__card--nav {
  li a i {
    &.js-paletteMediumA {
      color: $slate;
    }
  }
}

.palette-medium .b {
  background-color: $faded-orange;
}

.preview__card--text {
  h4 {
    &.js-paletteMediumB {
      color: $faded-orange;
    }
  }
}
.preview__card {
  .preview__card--text.js-medium {
    &.js-paletteMediumB {
      border-left: 5px solid $faded-orange;
    }
  }
}

.palette-medium .c {
  background-color: $light-grey-blue;
}

.preview__card--nav {
  li a {
    &.js-paletteMediumC {
      border: 2px solid $light-grey-blue;
    }
    &.js-paletteColdB {
      border-left: 5px solid $dirty-blue;
    }
  }
}

.palette-cold .c {
  background-color: $border-links-color;
}

.preview__card--nav {
  li a {
    &.js-paletteColdC {
      border: 2px solid $border-links-color;
    }
  }
}
